{% extends 'catalog/home.html'%}
{% block content %}
 <div class="album py-5 bg-body-tertiary">
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
          <div class="card shadow-sm">
            <img src={{product.image.url}} class="card-img-top" alt='...'>
            <div class="card-body">
              <p class="card-text"> Название: {{ product.name}}</p>
              <p class="card-text"> Описание: {{ product.description}}</p>
              <p class="card-text"> Категория товара: {{ product.category}}</p>
              <p class="card-text"> Цена: {{ product.price}}</p>
              <div class="d-flex justify-content-between align-items-center">
                 <div class="btn-group">
                  <a class="btn btn-primary" href="{% url 'catalog:product_list' %}" role="button">Каталог</a>
                  {% if perms.catalog.change_product or user == product.owner %}
                  <a class="btn btn-primary" href="{% url 'catalog:product_update' product.pk%}" role="button"> Изменить </a>
                  {% endif %}
                  {% if perms.catalog.delete_product or user == product.owner %}
                  <a class="btn btn-primary" href="{% url 'catalog:product_delete' product.pk %}" role="button">Удалить</a>
                  {% endif %}
                </div>
                <small class="text-body-secondary">
                  <p>Товар создан:</p>
                  <p>{{product.created_at}}</p>
                </small>
                <small class="text-body-secondary">
                  <p>Товар обновлен:</p>
                  <p>{{product.updated_at}}</p>
                </small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
 </div>
{% endblock %}